page-book {

  ion-col div {
    border-radius: 2px;
    text-align: center;

  }

  p {
    padding: 10px 0 0 10px !important;
    margin: 0;
  }

  .bus
  {
    background-color: #f0f5ff;
    border: 1px solid #e6e9ee;
    border-radius: 2px;
    padding: 5px;
    text-align: center;
    background-color: cornsilk;
    height: 75px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    padding-top: 25px;
    border-color: black;
  }





}
